{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}

  </nav>

  <section class="container bg-secondary row p-3">

    <section class="col column align-center">
      <img src="{include_path}public/default/images/Home.jpeg" class="w-50 rounded">
    </section>

    <section class="col-2 column gap-1 justify-center">

      <p>
        Bem-vindo, Administrador! Estamos muito felizes em tê-lo conosco no Connect Learn. Aqui, você encontrará um ambiente colaborativo e inovador, onde seu trabalho será essencial para garantir que nossa plataforma continue oferecendo suporte de qualidade aos nossos usuários. Sua dedicação e visão ajudarão a criar um impacto duradouro na educação, promovendo uma experiência enriquecedora para todos. Estamos empolgados para ver o que vamos conquistar juntos!
      </p>

    </section>

  </section>

  <section class="container p-3 row">

    <section class="col column align-center">
      <img src="{include_path}public/default/images/Entre em uma comunidade.jpeg" class="w-50 rounded">
    </section>

    <section class="col column gap-1 justify-center text-center">

      <h2>Comunidades</h2>

      <p>
        Sua função será essencial para garantir a qualidade e relevância das comunidades criadas. Convidamos você a aprovar as comunidades submetidas, assegurando que cada espaço dedicado ao aprendizado colaborativo esteja alinhado aos nossos padrões. Sua aprovação permitirá que os alunos tenham acesso a ambientes dinâmicos e enriquecedores, onde poderão compartilhar ideias e aprofundar seus conhecimentos de forma construtiva. Estamos animados para contar com sua colaboração na criação de um ambiente educativo seguro e de alta qualidade!
      </p>

      <span>
        <a href="{include_path}admin/comunidades" class="btn">Comunidades</a>
      </span>

    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="{logo_header}">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click", () => {
    sidebar.classList.toggle("left-0");
  });

</script>