@font-face {
	font-family: "montserrat";
	src: url("../fonts/montserrat.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "montserrat";
	list-style: none;
}

:root {
	--purple-primary: #7E22CE;
	--purple-secondary: #2e1065;
	--black-primary: #222;
	--white-primary: #fff;
	--text-color: #222;
	--text-contrast: #fff;
}

html,body {
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}

body>main {
  width: 100vw;
}

footer {
  background-color: var(--black-primary);
  color: var(--text-contrast);
	& i {
		font-size: 24px;
	}
  &.navbar a {
    color: var(--text-contrast);
  }
}

footer a {
  color: var(--text-contrast) !important;
}

.container {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

body>header {
  border-bottom: 2px solid var(--purple-primary);
}

header.container, footer.container {
  padding: 2rem 4rem;
}

.h-100 {
	height: 100%;
}

.box {
  padding: 2rem;
  border: 2px solid var(--purple-secondary);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.gap {
  display: flex;
  gap: 2rem;
}

.gap-small {
  display: flex;
  gap: 1rem;
}

.grid-flex {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-flex>* {
  flex: 1;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  width: 100%;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.align-center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card, .card-long {
	background-color: #fff;
  border: 2px solid var(--black-primary);
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 7px;
	font-size: 18px;

	& i {
		font-size: 32px;
		color: var(--purple-primary);
	}
}

.card-long {
  padding: 4rem 4rem 8rem;

	& i {
		font-size: 18px;
		color: var(--purple-primary);
	}
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.navbar a {
  opacity: 0.7;
  position: relative;
  color: var(--text-color);
  transition: all .2s;
}

.navbar a:hover {
  opacity: 1;
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--purple-primary);
  visibility: hidden;
  transition: all .2s;
}

.navbar a:hover::before {
  width: 100%;
  visibility: initial;
}

.btn {
  width: max-content;
  color: var(--purple-primary);
  background-color: transparent;
  padding: 1rem 4rem;
  border: 2px solid var(--purple-primary);
  text-align: center;
  border-radius: 7px;
  font-size: 15px;
	font-weight: bold;
  transition: all .2s;
}

form .btn {
  width: 100%;
}

.btn:hover {
  background-color: var(--purple-primary);
  color: var(--text-contrast);
}

.input {
  padding: 1rem;
  background-color: transparent;
  border: 2px solid var(--black-primary);
  border-radius: 7px;
  font-size: 13px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-box-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid var(--black-primary);
  border-radius: 4px;
  position: relative;
  transition: all .2s;
}

.checkbox:checked {
  background-color: var(--purple-primary);
  border-color: var(--purple-primary);
}

.checkbox::before {
  transition: all .2s;
}

.checkbox:checked::before {
  content: "";
  display: block;
  width: 50%;
  height: 5px;
  rotate: -45deg;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,-50%);
}

textarea {
  height: 150px;
  resize: none;
}

dialog::backdrop {
  background-color: #2225;
}

dialog {
  width: 500px;
  height: 500px;
  margin: auto;
  border: none;
  border-radius: 7px;
  grid-template-rows: auto 1fr auto;
}

dialog>header,dialog>main,dialog>footer {
  padding: 2rem;
}

dialog>header {
  background-color: var(--purple-primary);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog>footer {
  background-color: #fff;
  border-top: 2px solid var(--black-primary);
  display: flex;
  justify-content: end;
  gap: 1rem;
}

dialog>main {
  padding: 2rem;
  overflow-y: auto;
}

dialog .btn {
  padding: 8px 1rem;
  font-size: 12px;
}

details {
  width: 800px;
  background-color: #fff;
  border-bottom: 2px solid var(--black-primary);
}

details>summary {
  padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

details>section {
  padding: 2rem;
  background-color: var(--purple-secondary);
  color: var(--black-primary);
}

section>details:last-child {
	border: none;
}

.rounded {
  border-radius: 7px;
}

.scroll-x {
  min-height: 150px;
  overflow-x: auto;
  padding: 0 0 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 1rem;
}

.question {
  height: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--purple-secondary);
  font-size: 14px;
}

.question>* {
  padding: 1rem;
}

.question>header {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  padding-bottom: .5rem;
}

.question>main {
  padding-top: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 800px) {
  .container {
    padding: 2rem 1rem;
  }

  .col-2 {
    grid-template-columns: 1fr;
  }

  header.container {
    padding: 2rem 1rem;
  }

  footer.container {
    flex-direction: column;
    align-items: center;
  }
  
  .grid-flex {
    flex-direction: column;
  }

  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  
  dialog {
    width: 350px;
  }
  
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  header.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

.bg-primary {
  background-color: #FBF7FF;
  color: var(--black-primary);
}

.bg-secondary {
  background-color: #fef9c3;
  color: var(--black-primary);
}

.text-primary {
	color: var(--purple-primary);
}

.text-black {
	color: var(--text-color);
}

.error {
  color: #ef4444;
}

.bold {
	font-weight: bold;
}

.border {
	border: 2px solid var(--black-primary);
}

.user-profile {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 100px;
  display: grid;
  place-content: center;
}

.user-profile:hover::before {
  display: none;
}

.cursor,a,.btn {
  cursor: pointer;
}

.challenge {
  height: 250px;
  border: 2px solid var(--purple-secondary);
  padding: 2rem;
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: .5rem;
  align-items: center;
  border-radius: 7px;
  color: var(--text-color);
  transition: all .2s;
}

.challenge img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: var(--purple-secondary);
}

.challenge:hover {
  background-color: #efefef;
}

.w-100 {
  width: 100%;
}

.video {
  width: 100%;
  height: 350px;
  border-radius: 7px;
}

@media (max-width: 800px) {
  .video {
    height: 200px;
  }
}

.hidden {
  display: none;
}