{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}

  </nav>

  <section class="container p-3">

    <nav class="row gap-1 align-center">

      <a href="{include_path}teacher/conteudos" class="row gap-1 align-center">Conteúdos</a>

      <span class="row gap-1 align-center">
        <i class="fa-solid fa-angle-right display-5"></i>Criar conteúdo
      </span>

    </nav>

    <h2>Conteúdos</h2>

    <p>
      Crie cursos que inspirem e auxiliem os estudantes. 
    </p>

    <section class="row gap-2">

      <section class="col column gap-2">

        <section>
          <form action="#" method="POST" id="form_curso" class="column gap-2">

            <h2>Criar curso</h2>

            <section class="input-box">

              <label for="curso">Nome do curso</label>

              <input type="text" name="curso" id="input_curso">

              <span class="error" id="error_curso"></span>

            </section>

            <section class="input-box">

              <label for="tema">Núcleo do curso</label>
              
              <select name="tema" id="tema">

                <option value="1">Biológias</option>
                <option value="2">Exatas</option>
                <option value="3">Humanas</option>
                
              </select>
              
            </section>

            <button type="submit" class="btn">Criar curso</button>

          </form>
        </section>

        <section>
          <form action="#" method="POST" id="form_modulo" class="column gap-2">

            <h2>Adicionar módulo</h2>

            <section class="input-box">

              <label for="id_curso">Selecione o curso</label>

              <select name="id_curso" id="input_curso">

                {modulos}
                
              </select>

            </section>

            <section class="input-box">

              <label for="modulo">Nome do módulo</label>

              <input type="text" name="modulo" id="input_modulo">

              <span class="error" id="error_modulo"></span>

            </section>

            <button type="submit" class="btn">Adicionar módulo</button>

          </form>
        </section>

      </section>
      <section class="col column gap-2">

        <section class="col rounded">
          <form action="#" method="POST" id="form_aula" class="column gap-2">
            <h2>Adicionar aula</h2>

            <section class="input-box">

              <label for="id_curso">Selecione o curso e módulo</label>

              <select name="id_curso" id="input_curso">

                {cursos}
                
              </select>

            </section>

            <section class="input-box">

              <label for="titulo">Título</label>

              <input type="text" name="titulo" id="input_titulo">

              <span class="error" id="error_titulo"></span>

            </section>
            <section class="input-box">

              <label for="conteudo">Conteúdo</label>

              <section>
                <textarea name="conteudo" id="editor"></textarea>
              </section>

              <span class="error" id="error_conteudo"></span>

            </section>
            <section class="input-box">

              <label for="video">Link do vídeo (opcional)</label>

              <input type="url" name="video" id="input_video">

              <span class="error" id="error_video"></span>

            </section>

            <button type="submit" class="btn">Cadastrar aula</button>

          </form>
        </section>

      </section>

    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="#" alt="logo">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click", () => {
    sidebar.classList.toggle("left-0");
  });

  const form_curso = document.getElementById("form_curso");

  form_curso.addEventListener("submit",(e)=>{
    e.preventDefault();

    let error = 0;
    
    const curso = document.getElementById("input_curso").value;
    const error_curso = document.getElementById("error_curso");

    if ( !curso ) {

      error_curso.innerText = "Insira o nome do curso";
      error++;
    }

    if ( error > 0 ) {

      setTimeout(()=>{
        error_curso.innerText = "";
      },5000);
      return;
    }

    form_curso.submit();
    
  });

  const form_modulo = document.getElementById("form_modulo");

  form_modulo.addEventListener("submit",(e)=>{
    e.preventDefault();

    let error = 0;
    
    const modulo = document.getElementById("input_modulo").value;
    const error_modulo = document.getElementById("error_modulo");

    if ( !modulo ) {

      error_modulo.innerText = "Insira o nome do modulo";
      error++;
    }

    if ( error > 0 ) {

      setTimeout(()=>{
        error_modulo.innerText = "";
      },5000);
      return;
    }

    form_modulo.submit();
    
  });

  const form_aula = document.getElementById("form_aula");

  form_aula.addEventListener("submit",(e)=>{
    e.preventDefault();

    let error = 0;
    
    const titulo = document.getElementById("input_titulo").value;
    const error_titulo = document.getElementById("error_titulo");

    if ( !titulo ) {

      error_titulo.innerText = "Insira o titulo do conteúdo";
      error++;
    }

    let conteudo;
    const error_conteudo = document.getElementById("error_conteudo");
    setTimeout(() => {
      conteudo = document.getElementById("editor");
      if (!conteudo.value) {

        error_conteudo.innerText = "Escreva o conteúdo";
        error++;

      }

      if (error > 0) {

        setTimeout(() => {
          error_conteudo.innerText = "";
        error_titulo.innerText = "";
      }, 5000);
        return;
      }
      form_aula.submit();
    }, 200);

  });

</script>
<script type="module">
  import {
      ClassicEditor,
      Essentials,
      Bold,
      Italic,
      Font,
      Paragraph
  } from 'ckeditor5';

  ClassicEditor
      .create( document.querySelector( '#editor' ), {
          plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
          toolbar: [
              'bold', 'italic', '|',
              'fontColor', 'fontBackgroundColor'
          ]
      } )
      .then( /* ... */ )
      .catch( /* ... */ );
</script>