{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}

  </nav>

  <section class="container p-3">

    <h2>Dúvidas</h2>

    <p>
      Peça ajuda de outros usuários aqui! 
    </p>

    <p class="bold">Dúvidas de outros</p>

    <section class="col-3">

      {outras_duvidas}

    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="{logo_header}">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click", () => {
    sidebar.classList.toggle("left-0");
  });

</script>