<header class="container bg-primary p-2 row justify-between align-center">

  <section class="flex gap-1 align-center">
    <i class="fa-solid fa-bars cursor display-4" id="open_sidebar"></i>
    <img src="{logo_header}" alt="logo">
  </section>

  <nav class="navbar row align-center gap-2">

    <a href="{include_path}teacher/perfil" class="{style_perfil}">
      {img_perfil}
    </a>

    <nav class="profile-bar">
  
      <!-- <a>
        <i class="fa-solid fa-user"></i> Meu perfil
      </a> -->
  
      <a href="{include_path}teacher/sair">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Sair
      </a>
      
    </nav>
    
  </nav>


</header>