.navbar-student {
	width: 300px;
	height: 100%;
	position: absolute;
	left: -500px;
	display: flex;
	flex-direction: column;
	gap: 0;
	border-right: 2px solid var(--purple-primary);
	background-color: #fff;
	transition: all .2s;
	z-index: 10;
}

.navbar-student a {
	display: block;
	padding: 1rem 2rem;
	transition: all .2s;
}

main a {
	color: var(--purple-primary);
}

.navbar-student a:hover {
	background: var(--purple-primary);
	color: var(--text-contrast);
}

.navbar-student a::before {
	visibility: hidden;
}

main {
	position: relative;
	transition: all .2s;
}

main>section {
	z-index: 1;
}

main.open_navbar {
	padding-left: 300px;
}

.navbar-student.open {
	left: 0;
}

@media (max-width: 800px) {
	main.open_navbar {
		padding: inherit;
	}
	.navbar-student {
		border: none;
	}
	.navbar-student.open{
		width: 100%;
	}
}