header {
	position: fixed;
	width: calc(100% - 8rem) !important;
	border: 2px solid var(--purple-primary);
	background-color: var(--white-primary);
	border-radius: 7px;
	margin: 1rem 4rem;
}

main>section:nth-child(1) {
	height: 100dvh;
	text-align: center;
	font-size: 50px;

	& * {
		font-weight: 200;
	}
}

@media ( max-width: 800px ) {
	header {
		width: calc(100% - 2rem) !important;
		margin: 1rem;
	}
}

@media ( max-width: 500px ) {
	
	main>section:nth-child(1) {
		height: 100dvh;
	}
}

.bg-image-1 {
	background-image: url("./bg-1.jpg");
	background-size: cover;
}

.bg-image-2 {
	background-image: url("./bg-2.jpg");
	background-size: cover;
}

.bg-opacity-1 {
	background-color: #d1a3ff6f;
}

.bg-opacity-2 {
	background-color: #fff8d66f;
}