<header class="container bg-primary p-2 row justify-between">

  <img src="#" alt="logo">

  <nav class="navbar">

    <a href="{include_path}home">Home</a>
    <a href="{include_path}login">Login</a>
    <a href="{include_path}sigin">Cadastro</a>

  </nav>

</header>

<main class="container p-3 column justify-center">

  <section class="row row-reverse gap-2">

    <section class="col column gap-4">

      <h2 class="text-center">Entrar</h2>
      
      <form action="#" method="POST" class="column gap-2">

        <section class="input-box">

          <label for="#">Email</label>

          <input type="email" name="#" id="input_#">

          <span class="error" id="error_#"></span>

        </section>
        <section class="input-box">

          <label for="#">Senha</label>

          <input type="password" name="#" id="input_#">

          <span class="error" id="error_#"></span>

        </section>

        <input type="submit" value="Entrar" class="btn">
        
      </form>
    
    </section>

    <section class="col column justify-center align-center">

      <img src="#" alt="logo">
      
    </section>
    
  </section>
  
</main>

<footer class="container p-2 row justify-between align-center">

  <img src="#" alt="logo">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>