{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}

  </nav>

  <section class="container p-3">

    <section class="row">

      <section class="col column gap-2">

        <form action="#" method="POST" id="form_perfil" class="flex column gap-1" enctype="multipart/form-data">

          <section class="input-box file-box">

            <label for="input_foto"><i class="fa-solid fa-upload"></i> Upload imagem de perfil</label>

            <input type="file" name="foto" id="input_foto">

            <span class="error" id="error_foto"></span>

          </section>

          <input type="submit" value="Atualizar foto de perfil" class="btn">

        </form>
        <form action="#" method="POST" id="form_dados" class="flex column gap-1">

          <section class="input-box">

            <label for="nome">Nome</label>

            <input type="text" name="nome" id="input_nome" value="{nome}">

            <span class="error" id="error_nome"></span>

          </section>
          <section class="input-box">

            <label for="email">Email</label>

            <input type="email" name="email" id="input_email" value="{email}">

            <span class="error" id="error_email"></span>

          </section>
          <section class="input-box">

            <label for="telefone">Telefone (opcional)</label>

            <input type="text" name="telefone" id="phone" oninput="formatPhone(this)" value="{telefone}">

            <span class="error" id="error_telefone"></span>

          </section>

          <input type="submit" value="Atualizar dados" class="btn">

        </form>

      </section>
      <section class="col column gap-2">

        <form action="#" method="POST" id="form_senha" class="flex column gap-1">

          <section class="input-box">

            <label for="senha">Nova senha</label>

            <input type="text" name="senha" id="input_senha">

            <span class="error" id="error_senha"></span>

          </section>
          <section class="input-box">

            <label for="confirmar_senha">Confirmar nova senha</label>

            <input type="text" name="confirmar_senha" id="input_confirmar_senha">

            <span class="error" id="error_confirmar_senha"></span>

          </section>

          <input type="submit" value="Atualizar senha" class="btn">

        </form>

        <span>
          <span class="btn btn-error text-center" id="open_deletar_modal">
            Deletar conta
          </span>
        </span>

      </section>

    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="{logo_header}">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<dialog id="deletar_modal">

  <header class="row justify-between align-center bg-primary p-2">

    <h2>Deletar conta</h2>

    <span class="close_deletar_modal cursor">
      <i class="fa-solid fa-close"></i>
    </span>

  </header>

  <main class="p-2">

    <p>
      Você tem certeza de que deseja excluir sua conta?
    </p>

  </main>

  <footer class="p-2 row justify-end">

    <a href="./deletar" class="btn btn-error">
      Sim, deletar
    </a>

    <span class="close_deletar_modal btn cursor">
      Cancelar
    </span>

  </footer>

</dialog>

<script>

  const open_deletar = document.getElementById("open_deletar_modal");
  const deletar_modal = document.getElementById("deletar_modal");
  const close_deletar = document.getElementsByClassName("close_deletar_modal");

  open_deletar.addEventListener("click", () => {
    deletar_modal.showModal();
    deletar_modal.style.display = "grid";
  })

  for (let i = 0; i < close_deletar.length; i++) {

    close_deletar[i].addEventListener("click", () => {
      deletar_modal.style.display = "none";
      deletar_modal.close();
    });

  }

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click", () => {
    sidebar.classList.toggle("left-0");
  });

  const form_dados = document.getElementById("form_dados");

  form_dados.addEventListener("submit", (e) => {
    e.preventDefault();
    let errors = 0;

    const nome = document.getElementById("input_nome").value;
    const error_nome = document.getElementById("error_nome");

    if (!nome) {
      error_nome.innerText = "Preencha o campo nome!";
      errors++;
    }

    const email = document.getElementById("input_email").value;
    const error_email = document.getElementById("error_email");

    if (!email) {
      error_email.innerText = "Preencha o campo email!";
      errors++;
    }

    if (errors > 0) {

      setTimeout(() => {
        error_nome.innerText = "";
        error_email.innerText = "";
      }, 5000);
      return;
    }

    form_dados.submit();

  });

  const form_senha = document.getElementById("form_senha");

  form_senha.addEventListener("submit", (e) => {
    e.preventDefault();
    let errors = 0;

    const senha = document.getElementById("input_senha").value;
    const error_senha = document.getElementById("error_senha");

    if (!senha) {
      error_senha.innerText = "Preencha o campo senha!";
      errors++;
    }

    const confirmar_senha = document.getElementById("input_confirmar_senha").value;
    const error_confirmar_senha = document.getElementById("error_confirmar_senha");

    if (!confirmar_senha) {
      error_confirmar_senha.innerText = "Preencha o campo confirmar senha!";
      errors++;
    }

    if (errors > 0) {

      setTimeout(() => {
        error_senha.innerText = "";
        error_confirmar_senha.innerText = "";
      }, 5000);
      return;
    }

    form_senha.submit();

  });

  function isValidFile(file) {
    // Verifica o tipo de arquivo (por exemplo, somente imagens e documentos PDF)
    const validTypes = ["image/jpeg", "image/png", "image/jpg"];

    // Verificar o tipo do arquivo
    if (!validTypes.includes(file.type)) {
      return false;
    }

    // Verificar o tamanho do arquivo (exemplo: até 5MB)
    const maxSize = 5 * 1024 * 1024; // 5MB
    if (file.size > maxSize) {
      return false;
    }

    return true;
  }

  const form_perfil = document.getElementById("form_perfil");
  const file = document.getElementById("input_foto");
  const error_foto = document.getElementById("error_foto");

  file.addEventListener("change", function (event) {
    const files = event.target.files;
    if (files.length === 0) {
      error_foto.textContent = "Nenhum arquivo selecionado.";
    } else {
      error_foto.textContent = "";
      
      // Verificar tipo e tamanho dos arquivos
      for (let i = 0; i < files.length; i++) {
        const file = files[i];
        if (!isValidFile(file)) {
          error_foto.innerHTML += `<br>Erro: O arquivo <strong>${file.name}</strong> não é válido.`;
        } else {
          error_foto.style.color = "green";
          error_foto.innerHTML += `<br>Arquivo <strong>${file.name}</strong> está pronto para upload.`;
        }
      }
    }
  });

  form_perfil.addEventListener("submit", function (event) {
    event.preventDefault();

    const files = file.files;
    if (files.length === 0) {
      error_foto.textContent = "Por favor, selecione pelo menos um arquivo para o upload.";
      return;
    }

    // Verificar novamente os arquivos antes de enviar
    let validFiles = true;
    for (let i = 0; i < files.length; i++) {
      if (!isValidFile(files[i])) {
        validFiles = false;
        break;
      }
    }

    if (validFiles) {
      form_perfil.submit();
    } else {
      error_foto.textContent = "Alguns arquivos não são válidos. Por favor, verifique.";
    }
  });

</script>