<header class="container bg-primary p-2 row justify-between">

  <img src="{logo_header}">

  <nav class="navbar">

    <a href="{include_path}home">Home</a>
    <a href="{include_path}login">Login</a>
    <a href="{include_path}sigin">Cadastro</a>

  </nav>

</header>

<main class="container p-3 column justify-center">

  <section class="row row-reverse gap-2">

    <section class="col column gap-2">

      <h2 class="text-center">Cadastre-se</h2>

      {resultado}

      <form action="#" method="POST" id="form_sigin" class="column gap-2">

        <section class="row gap-2">

          <section class="input-box col">

            <label for="nome">Nome</label>

            <input type="text" name="nome" id="input_nome">

            <span class="error" id="error_nome"></span>

          </section>
          <section class="input-box col">

            <label for="sobrenome">Sobrenome</label>

            <input type="text" name="sobrenome" id="input_sobrenome">

            <span class="error" id="error_sobrenome"></span>

          </section>

        </section>
        <section class="column gap-05">
          <section class="row gap-2">

            <section class="input-box-checkbox col">

              <input type="radio" value="estudante" name="tipo_usuario" id="input_estudante">

              <label for="input_estudante">Estudante</label>

            </section>

            <section class="input-box-checkbox col">

              <input type="radio" value="professor" name="tipo_usuario" id="input_professor">

              <label for="input_professor">Professor</label>

            </section>

          </section>
          <span class="error" id="error_tipo_usuario"></span>
        </section>
        <section class="input-box">

          <label for="email">Email</label>

          <input type="email" name="email" id="input_email">

          <span class="error" id="error_email"></span>

        </section>
        <section class="input-box">

          <label for="telefone">Telefone (opcional)</label>

          <input type="text" name="telefone" id="phone" oninput="formatPhone(this)">

          <span class="error" id="error_telefone"></span>

        </section>
        <section class="input-box">

          <label for="senha">Senha</label>

          <input type="password" name="senha" id="input_senha">

          <span class="error" id="error_senha"></span>

        </section>
        <section class="input-box">

          <label for="confirmar_senha">Confirmar senha</label>

          <input type="password" name="confirmar_senha" id="input_confirmar_senha">

          <span class="error" id="error_confirmar_senha"></span>

        </section>
        <section class="column gap-05">
          <section class="input-box-checkbox">

            <input type="checkbox" name="termos" id="input_termos">

            <p>
              <label for="input_termos">Eu li e concordo com a</label>
              <span class="destaque cursor" id="open_termos_modal">Política de privacidade</span>
            </p>

          </section>
          <span class="error" id="error_termos"></span>
        </section>

        <input type="submit" value="Cadastrar" class="btn">

      </form>

    </section>

    <section class="col column justify-center align-center">

      <img src="{logo_header}">

    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="{logo_header}">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<dialog id="termos_modal">

  <header class="row justify-between align-center bg-primary p-2">

    <h2>Política de privacidade</h2>

    <span class="close_termos_modal cursor">
      <i class="fa-solid fa-close"></i>
    </span>

  </header>

  <main class="p-2">

    <article class="flex column gap-1">
      <p class="bold">
        Política de Privacidade da ConnectLearn
      </p>
      <p>
        A ConnectLearn valoriza a privacidade de seus usuários e está comprometida em proteger as informações pessoais
        coletadas através de nosso site. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos e
        protegemos os dados pessoais dos nossos usuários.
      </p>
      <p class="bold">
        1. Coleta de Informações
      </p>
      <p>
        Coletamos informações pessoais que você nos fornece diretamente, como nome, endereço de e-mail, número de
        telefone, e informações de pagamento. Também podemos coletar informações automaticamente quando você utiliza nosso
        site, como endereço IP, tipo de navegador, páginas visitadas e tempo gasto em nosso site.
      </p>
      <p class="bold">
        2. Uso das Informações
      </p>
      <p>
        As informações coletadas são utilizadas para:
        Processar suas solicitações e fornecer os serviços solicitados.
        Melhorar a experiência do usuário em nosso site.
        Enviar comunicações promocionais e informativas, desde que você tenha consentido previamente.
        Cumprir obrigações legais e regulatórias.
      </p>
      <p class="bold">
        3. Compartilhamento de Informações
      </p>
      <p>
        Não compartilhamos suas informações pessoais com terceiros, exceto:
        Quando necessário para fornecer os serviços solicitados por você.
        Para cumprir obrigações legais.
        Com seu consentimento explícito.
      </p>
      <p class="bold">
        4. Segurança das Informações
      </p>
      <p>
        Adotamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não autorizado,
        alteração, divulgação ou destruição. No entanto, nenhum método de transmissão pela internet ou armazenamento
        eletrônico é 100% seguro.
      </p>
      <p class="bold">
        5. Seus Direitos
      </p>
      <p>
        Você tem o direito de:<br>
        Solicitar acesso às suas informações pessoais.
        Corrigir informações pessoais incorretas ou desatualizadas.
        Solicitar a exclusão de suas informações pessoais, desde que não haja pendências financeiras.
        Retirar seu consentimento para o processamento de dados pessoais.
      </p>
      <p class="bold">
        6. Exclusão de Cadastro
      </p>
      <p>
        O cliente tem a possibilidade de, a qualquer momento, solicitar a anulação de seu registro no site da
        ConnectLearn. A remoção de seu cadastro será efetuada com a maior celeridade possível, desde que não sejam
        identificadas pendências financeiras.
      </p>
      <p class="bold">
        7. Alterações na Política de Privacidade
      </p>
      <p>
        Podemos atualizar esta Política de Privacidade periodicamente. Notificaremos você sobre quaisquer mudanças
        publicando a nova política em nosso site. Recomendamos que você revise esta política regularmente para se manter
        informado sobre como estamos protegendo suas informações.
      </p>
    </article>

  </main>

  <footer class="p-2 row justify-end">

    <span class="close_termos_modal btn cursor">
      Fechar
    </span>

  </footer>

</dialog>

<script>

  const open_termos = document.getElementById("open_termos_modal");
  const termos_modal = document.getElementById("termos_modal");
  const close_termos = document.getElementsByClassName("close_termos_modal");

  open_termos.addEventListener("click", () => {
    termos_modal.showModal();
    termos_modal.style.display = "grid";
  })

  for (let i = 0; i < close_termos.length; i++) {

    close_termos[i].addEventListener("click", () => {
      termos_modal.style.display = "none";
      termos_modal.close();
    });

  }

  const form = document.getElementById("form_sigin");

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    let errors = 0;

    const nome = document.getElementById("input_nome").value;
    const error_nome = document.getElementById("error_nome");

    if (!nome) {
      error_nome.innerText = "Preencha o campo nome!";
      errors++;
    }

    const sobrenome = document.getElementById("input_sobrenome").value;
    const error_sobrenome = document.getElementById("error_sobrenome");

    if (!sobrenome) {
      error_sobrenome.innerText = "Preencha o campo sobrenome!";
      errors++;
    }

    const email = document.getElementById("input_email").value;
    const error_email = document.getElementById("error_email");

    if (!email) {
      error_email.innerText = "Preencha o campo email!";
      errors++;
    }

    const senha = document.getElementById("input_senha").value;
    const error_senha = document.getElementById("error_senha");

    if (!senha) {
      error_senha.innerText = "Preencha o campo senha!";
      errors++;
    }

    const confirmar_senha = document.getElementById("input_confirmar_senha").value;
    const error_confirmar_senha = document.getElementById("error_confirmar_senha");

    if (!confirmar_senha) {
      error_confirmar_senha.innerText = "Preencha o campo confirmar senha!";
      errors++;
    }

    const termos = document.getElementById("input_termos").checked;
    const error_termos = document.getElementById("error_termos");

    if (!termos) {
      error_termos.innerText = "Aceite os termos para proseguir!";
      errors++;
    }

    const tipo_usuario = document.getElementsByName("tipo_usuario");
    const error_tipo_usuario = document.getElementById("error_tipo_usuario");
    let tipo_usuario_value;

    for (const caixa of tipo_usuario) {
      if (caixa.checked) {
        tipo_usuario_value = caixa.value;
        break;
      }
    }

    if (!tipo_usuario_value) {
      error_tipo_usuario.innerText = "Selecione um tipo de usuario para proseguir!";
      errors++;
    } else {
      console.log(tipo_usuario_value);
    }

    if (errors > 0) {

      setTimeout(() => {
        error_nome.innerText = "";
        error_sobrenome.innerText = "";
        error_email.innerText = "";
        error_senha.innerText = "";
        error_confirmar_senha.innerText = "";
        error_termos.innerText = "";
        error_tipo_usuario.innerText = "";
      }, 5000);
      return;
    }

    form.submit();

  });

  function formatPhone(input) {
    let value = input.value
      .replace(/\D/g, '') // Remove todos os caracteres não numéricos
      .replace(/^(\d{2})(\d)/, '($1) $2') // Formata o DDD
      .replace(/(\d{5})(\d)/, '$1-$2') // Adiciona o hífen
      .substring(0, 15); // Limita o tamanho

    input.value = value;
  }

</script>