{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}
    
  </nav>

  <section class="container p-3">

    <h2>Desafios</h2>

    <p>
      Aqui, você encontrará uma variedade de atividades e desafios projetados para testar e aprimorar seus conhecimentos em diversas matérias escolares. Está pronto para começar? Vamos lá. 
    </p>

    <p class="bold">Desafios</p>

    <section class="col-3">

      {desafios}
      
    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="{logo_header}">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click",()=>{
    sidebar.classList.toggle("left-0");
  });
  
</script>