{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}

  </nav>

  <section class="container p-3">

    <nav class="row gap-1 align-center">

      <a href="{include_path}student/desafios" class="row gap-1 align-center">Desafios</a>

      <span class="row gap-1 align-center">
        <i class="fa-solid fa-angle-right display-5"></i>{titulo}
      </span>

    </nav>

    <h2>Desafio - {titulo}</h2>

    <section class="row gap-2">

      <section class="col column gap-2">

        <img src="{link_img}">

      </section>

      <section class="col column gap-2">

        <p><span class="bold">Autor:</span> {criador}</p>

        <section>
          {pergunta}
        </section>
        
        <a href="{discord}" class="btn text-center" target="_blank">Participar</a>

      </section>

    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="{logo_header}">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click", () => {
    sidebar.classList.toggle("left-0");
  });

  const quill = new Quill('#editor', {
    theme: 'snow'
  });

  const conteudo = document.getElementById("input_conteudo");

  function atualizarTextarea() {

    const html = quill.root.innerHTML;
    conteudo.value = html;
    console.log("atualizando");

  }

</script>