{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}
    
  </nav>

  <section class="container bg-secondary row p-3">

    <section class="col box"></section>

    <section class="col-2 column gap-1">

      <p>
        Bem-vindo ao Connect Learn onde oferecemos excelentes materiais de estudos e uma ótima comunidade de apoio para que você possa ter uma rica experiencia educacional. Assine agora e tenha acesso a conteúdos que transformarão a educação em casa em uma gratificante experiencia.
      </p>
      
    </section>
    
  </section>

  <section class="container p-3">

    <h2>Atividade recente</h2>

    <section class="row gap-1">

      <section class="col column box rounded">

        <a>Link</a>
        <a>Link</a>
        <a>Link</a>
        
      </section>
      <section class="col column box rounded">

        <a>Link</a>
        <a>Link</a>
        <a>Link</a>
        
      </section>
      <section class="col column box rounded">

        <a>Link</a>
        <a>Link</a>
        <a>Link</a>
        
      </section>
      
    </section>
    
  </section>

  <section class="container p-3 bg-secondary row">

    <section class="col box">

    </section>

    <section class="col column gap-1 align-center">

      <h2>Comunidades</h2>

      <p>
        Conheça nossas comunidades, onde você pode realizar desafios em grupos sobre os conteúdos aprendidos, além de fazer novas amizades através do estudo.
      </p>

      <span>
        <a class="btn">Link</a>
      </span>
      
    </section>
    
  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="#" alt="logo">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click",()=>{
    sidebar.classList.toggle("left-0");
  });
  
</script>