{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}
    
  </nav>

  <section class="container bg-secondary row p-3">

    <section class="col column align-center">
      <img src="{include_path}public/default/images/Home.jpeg" class="w-50 rounded">
    </section>

    <section class="col-2 column gap-1 justify-center">

      <p>
        Bem-vindo ao Connect Learn! Aqui, disponibilizamos materiais de estudo de qualidade e uma comunidade de apoio engajada, para proporcionar a você uma experiência educacional única. Assine agora e descubra conteúdos que transformarão o aprendizado em casa em uma experiência sem igual. 
      </p>
      
    </section>
    
  </section>

  <section class="container p-3 row">

    <section class="col column align-center">
      <img src="{include_path}public/default/images/Entre em uma comunidade.jpeg" class="w-50 rounded">
    </section>

    <section class="col column gap-1 justify-center text-center">

      <h2>Comunidades</h2>

      <p>
        Conheça nossas comunidades, onde você pode participar de desafios em grupo sobre os conteúdos estudados, promovendo troca de experiências e conhecimento. Além disso, é uma excelente oportunidade para fazer novas amizades e fortalecer sua rede de contatos enquanto aprende de forma colaborativa.
      </p>

      <span>
        <a href="{include_path}student/comunidades" class="btn">Comunidades</a>
      </span>
      
    </section>
    
  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="{logo_header}">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click",()=>{
    sidebar.classList.toggle("left-0");
  });
  
</script>