{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}

  </nav>

  <section class="container p-3">

    <nav class="row gap-1 align-center">

      <a href="{include_path}student/duvidas" class="row gap-1 align-center">Dúvidas</a>

      <span class="row gap-1 align-center">
        <i class="fa-solid fa-angle-right display-5"></i>Responder dúvida
      </span>
      
    </nav>
    
    <section class="row gap-2">

      <section class="col column gap-2">

        <section class="column gap-1">

          <h2>Responder dúvida</h2>

          <section class="box rounded">

            <header class="bg-primary">
              <p class="bold">{usuario_fez_pergunta}</p>
            </header>

            <main>

              {duvida}
              
            </main>
            
          </section>

        </section>
        <form action="#" method="POST" id="form_resposta" class="column gap-2">

          <section class="input-box">

            <input type="hidden" name="duvida" value="{id_duvida}">

            <label for="editor">Monte sua resposta</label>

            <section>
              <textarea name="conteudo" id="editor"></textarea>
            </section>

            <span class="error" id="error_conteudo"></span>

          </section>

          <button type="submit" class="btn">Enviar</button>

        </form>

      </section>

      <section class="col column gap-1">

        <h2>Outras respostas</h2>

        {respostas}

      </section>

    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="{logo_header}">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click", () => {
    sidebar.classList.toggle("left-0");
  });

  const form = document.getElementById("form_resposta");

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    let error = 0;

    let conteudo;
    const error_conteudo = document.getElementById("error_conteudo");
    setTimeout(() => {
      conteudo = document.getElementById("editor");
      if (!conteudo.value) {

        error_conteudo.innerText = "Escreva sua resposta!";
        error++;

      }

      if (error > 0) {

        setTimeout(() => {
          error_conteudo.innerText = "";
        }, 5000);
        return;
      }
      form.submit();
    }, 200);


  });
  
</script>
<script type="module">
  import {
      ClassicEditor,
      Essentials,
      Bold,
      Italic,
      Font,
      Paragraph
  } from 'ckeditor5';

  ClassicEditor
      .create( document.querySelector( '#editor' ), {
          plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
          toolbar: [
              'bold', 'italic', '|',
              'fontColor', 'fontBackgroundColor'
          ]
      } )
      .then( /* ... */ )
      .catch( /* ... */ );
</script>