{header}

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}

  </nav>

  <section class="container p-3">

    <section class="row gap-2">

      <section class="col column gap-1">

        <section class="column gap-05">

          <h2>Suporte</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius numquam incidunt cum exercitationem quos a
            magni
            magnam eveniet, provident ea.
          </p>

        </section>
        <form action="#" method="POST" id="form_suporte" class="column gap-2">

          <section class="input-box">

            <label for="editor">Mande suas dificuldades</label>

            <section>
              <textarea name="conteudo" id="editor"></textarea>
            </section>

            <span class="error" id="error_conteudo"></span>

          </section>

          <button type="submit" class="btn">Enviar</button>

        </form>

      </section>

      <section class="col column gap-2">

        <h2>Perguntas frequentes</h2>

        <div class="box p-4 rounded"></div>
        <div class="box p-4 rounded"></div>
        <div class="box p-4 rounded"></div>

      </section>

    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="#" alt="logo">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click", () => {
    sidebar.classList.toggle("left-0");
  });

  const form = document.getElementById("form_suporte");

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    let error = 0;

    let conteudo;
    const error_conteudo = document.getElementById("error_conteudo");
    setTimeout(() => {
      conteudo = document.getElementById("editor");
      if (!conteudo.value) {

        error_conteudo.innerText = "Escreva seu problema";
        error++;

      }

      if (error > 0) {

        setTimeout(() => {
          error_conteudo.innerText = "";
        }, 5000);
        return;
      }
      form.submit();
    }, 200);


  });
  
</script>
<script type="module">
  import {
      ClassicEditor,
      Essentials,
      Bold,
      Italic,
      Font,
      Paragraph
  } from 'ckeditor5';

  ClassicEditor
      .create( document.querySelector( '#editor' ), {
          plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
          toolbar: [
              'bold', 'italic', '|',
              'fontColor', 'fontBackgroundColor'
          ]
      } )
      .then( /* ... */ )
      .catch( /* ... */ );
</script>