<header class="container bg-primary p-2 row justify-between align-center">

  <section class="flex gap-1 align-center">
    <i class="fa-solid fa-bars cursor display-4" id="open_sidebar"></i>
    <img src="{logo_header}" alt="logo">
  </section>

  <nav class="navbar">

    <a class="bg-secondary profile">
      <i class="fa-solid fa-user"></i>
    </a>

  </nav>

</header>

<main id="content">

  <nav class="sidebar" id="sidebar">

    {navbar}

  </nav>

  <section class="container p-3">

    <nav class="row gap-1 align-center">

      <a href="{include_path}student/duvidas" class="row gap-1 align-center">Dúvidas</a>

      <span class="row gap-1 align-center">
        <i class="fa-solid fa-angle-right display-5"></i>Responder dúvida
      </span>
      
    </nav>
    
    <section class="row gap-2">

      <section class="col column gap-2">

        <section class="column gap-1">

          <h2>Pergunta</h2>

          <section class="box rounded">

            <main>

              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ducimus eum molestias error nobis. Quibusdam harum ipsa aliquam reprehenderit incidunt.
              </p>
              
            </main>
            
          </section>

        </section>

      </section>

      <section class="col column gap-1">

        <h2>Respostas</h2>

        <div class="box p-4 rounded"></div>
        <div class="box p-4 rounded"></div>
        <div class="box p-4 rounded"></div>

      </section>

    </section>

  </section>

</main>

<footer class="container p-2 row justify-between align-center">

  <img src="#" alt="logo">

  <nav class="navbar">

    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-solid fa-envelope"></i></a>

  </nav>

</footer>

<script>

  const open_sidebar = document.getElementById("open_sidebar");
  const sidebar = document.getElementById("sidebar");

  open_sidebar.addEventListener("click", () => {
    sidebar.classList.toggle("left-0");
  });

  const quill = new Quill('#editor', {
    theme: 'snow'
  });

  const conteudo = document.getElementById("input_conteudo");
  
  function atualizarTextarea() {
    
    const html = quill.root.innerHTML;
    conteudo.value = html;
    console.log("atualizando");
    
  }
  
</script>